<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RedisConnect" value="172.17.6.21:7001,172.17.6.21:7004,172.17.6.22:7002,172.17.6.22:7005,172.17.6.23:7003,172.17.6.23:7006,connectTimeout=1000,keepAlive=180"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
